<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Assign Rental Car</title>
</head>
<body>
<div align="center">
    <h1>Assign Rental Car</h1>
    <br/><br/>
       <form action="#" th:action="@{'/update-customer/'}"
             method="post">

        <table border="0" cellpadding="1">
            <tr>
                <td>Customer ID:</td>
                <td><input type="text" name="customerId" th:value="${customer.id}" readonly/></td>
                <td>Customer Name:</td>
                <td><input type="text" th:field="${customer.fullName}" required/></td>
                <td>RentalCar:</td>
                <td>
<!--TO DO update th:text to display toString of rentalCar id + make/ model-->
                   <select name="rentalCarId">
                       <option value="">Select RentalCar</option>
                       <!-- show rental cars not assigned to customer-->..
                       <!--th:if="${#lists.isEmpty(rentalCar.customer)}"-->
                       <option th:each="rentalCar : ${rentalCarList}" th:if="${#lists.isEmpty(rentalCar.customer)}"
                               th:value="${rentalCar.id}"
                               th:text="${rentalCar.make}">Wireframe</option>
                   </select>
                   </td>
                <td ><button type="submit" >Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>